# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. PyTorch
3. SciPy
4. Scikit-Learn

|Data Science Tools|
|------------------|
|SAS|
|Big ML|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [30]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [29]:
#This will convert 200 minutes to hours by diving by 60
Minutes = 200
Hours = Minutes/60
print(Hours,"Hours")

3.3333333333333335 Hours

### Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science
- Table of Most Used Data Science Tools
- Arithmetic Expression in Python Example

## Author
Hanafi Kartawirawan